<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="accountMapper">
	<!-- 카테고리 추가 -->
	<insert id="insertAccount" parameterType="accountVO">
		insert into account values (#{accountid}, #{moneytype}, #{date}, #{astname}, #{catename}, #{content}, #{total}, #{memo}, #{mark}, #{repeat}, #{userid});
	</insert>
	
	<select id="accountInfo" parameterType="String" resultType="accountVO">
		select * from account where userid = #{userid};
	</select>
</mapper>