<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="assetMapper">
	
	<!-- 자산 중복 확인 -->
	<select id="overlapAsset" parameterType="assetVO" resultType="String">
		select assetname from asset where assetname = #{assetname} and userid = #{userid};
	</select>
	
	<!-- 자산 추가 -->
	<insert id="insertAsset" parameterType="assetVO">
		insert into asset values (#{assetid}, #{assetgroup}, #{assetname}, #{total}, #{memo}, #{userid});
	</insert>
	
	<!-- 자산 금액 확인  -->
	<select id="checkAsset" parameterType="assetVO" resultType="int">
		select total from asset where assetid = #{assetid} and userid = #{userid};
	</select>
	
	<!-- 자산 수정 -->
	<update id="updateAsset" parameterType="assetVO">
		update asset set assetgroup = #{assetgroup}, assetname = #{assetname}, total = #{total}, memo = #{memo}
		where assetid = #{assetid} and userid = #{userid};
	</update>
	
	<!-- 자산 삭제 -->
	<delete id="deleteAsset" parameterType="assetVO">
		delete from asset where assetid = #{assetid} and userid = #{userid};
	</delete>
	
	<!-- 자산 목록 -->
	<select id="assetList" parameterType="String" resultType="assetVO">
		select * from asset where userid = #{userid};
	</select>
	
	<!-- 자산 목록 -->
	<select id="assetnameList" parameterType="String" resultType="String">
		select assetname from asset where userid = #{userid};
	</select>
	
	<!-- 자산 금액 업데이트 -->
	<update id="updateTotal" parameterType="assetVO">
		update asset set total = total + #{total} where assetid = #{assetid} and userid = #{userid};
	</update>
	
</mapper>