<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="assetMapper">
	<!-- 자산 목록 -->
	<select id="assetInfo" parameterType="String" resultType="assetVO">
		select * from asset where userid = #{userid};
	</select>
	
	<!-- 자산 업데이트 -->
	<update id="updateAsset" parameterType="map">
		update asset set astname = #{updateAsset}, astgroup = #{updateGroup}, astmemo = #{updateMemo}
		where astname = #{originAsset} and userid = #{userid};
	</update>
	
	<!-- 자산 중복 확인 -->
	<select id="isOverlapAsset" parameterType="assetVO" resultType="String">
		select astname from asset where astname = #{astname} and userid = #{userid};
	</select>
	
	<!-- 자산 추가 -->
	<insert id="insertAsset" parameterType="assetVO">
		insert into asset values (#{astname}, #{astgroup}, #{astmemo}, #{userid});
	</insert>
	
	<!-- 자산 삭제 -->
	<delete id="deleteAsset" parameterType="assetVO">
		delete from asset where astname = #{astname} and userid = #{userid};
	</delete>
</mapper>