<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="categoryMapper">
	<!-- 카테고리 추가 -->
	<insert id="insertCategory" parameterType="categoryVO">
		insert into category values (#{categoryid}, #{moneytype}, #{catename}, #{userid});
	</insert>
	
	<!-- 카테고리 수정 -->
	<update id="updateCategory" parameterType="categoryVO">
		update category set catename = #{catename} where categoryid = #{categoryid} and userid = #{userid};
	</update>	

	<!-- 카테고리 삭제 -->
	<delete id="deleteCategory" parameterType="categoryVO">
		delete from category where categoryid = #{categoryid} and userid = #{userid};
	</delete>

	<!-- 카테고리 목록 -->
	<select id="categoryList" parameterType="categoryVO" resultType="categoryVO">
		select * from category where userid = #{userid} and moneytype = #{moneytype};
	</select>
	
	<!-- 카테고리 중복 검사 -->
	<select id="overlapCategory" parameterType="categoryVO" resultType="String">
		select catename from category where moneytype = #{moneytype} and catename = #{catename} and userid = #{userid};
	</select>
</mapper>