<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="transferMapper">
	<!-- 이체 추가 -->
	<insert id="insertTransfer" parameterType="transferVO">
		insert into transfer values (#{transferid}, #{date}, #{withdraw}, #{deposit}, #{total}, #{memo}, #{userid});
	</insert>
	
	<!-- 월별 이체내역 -->
	<select id="transferInfo" parameterType="transferVO" resultType="transferVO">
		select * from transfer where left(date, 7) = #{date} and userid = #{userid} order by date desc;
	</select>
	
	<!-- 이체 수정 -->
	<update id="updateTransfer" parameterType="transferVO">
		update transfer set date = #{date}, withdraw = #{withdraw}, deposit = #{deposit}, total = #{total}, memo = #{memo}
		where transferid = #{transferid} and userid = #{userid};
	</update>
	
	<!-- transferid 값으로 검색 -->
	<select id="transferidInfo" parameterType="transferVO" resultType="transferVO">
		select * from transfer where transferid = #{transferid} and userid = #{userid};
	</select>
	
	<!-- 이체 삭제 -->
	<delete id="deleteTransfer" parameterType="transferVO">
		delete from transfer where transferid = #{transferid} and userid = #{userid};
	</delete>
</mapper>