@charset "UTF-8";
/* calendar.jsp */
.calendar {
	float: right;
	width: 80%;
	margin-top: 3%;
}
.calendar .title-text {
	position: fixed;
	left: 23%;
	top: 80px;
}
.calendar #div1 { /* 날짜 */
	margin-top: 50px;
	margin-bottom: 1%;
}
.calendar #div2 { /* 달력 */
}
.calendar #calendar {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 800px;
	border-collapse: collapse;
}
.calendar #calendar td {
	height: 15%;
	border: 1px solid lightgray;
}
.calendar #calendar .yoil td { /* 요일 칸 */
	height: 5%;
	background: var(--main-color);
	color: white;
	font-weight: bold;
}
.calendar #calendar .il { /* 날짜 칸 */
	width: 12%;
}
.calendar #calendar td:empty { /* 빈 칸 */
	background: #f3f3f3;
}
.calendar .il div {
	height: 100%;
}
.calendar .il div div:first-of-type { /* 일 */
	height: 20%;
	font-weight: bold;
	padding-top: 5px;
}
.calendar .il div div:nth-of-type(2) { /* 해당 날짜의 수입/지출 합계 */
	height: 80%;
	text-align: right;
	font-size: 18px;
	padding: 0 15px;
}
.calendar .il div div:nth-of-type(2) .income {
	color: var(--blue-color);
}
.calendar .il div div:nth-of-type(2) .spend {
	color: var(--red-color);
}
.calendar .il:hover {
	cursor: pointer;
	background: #f3f3f3;
}
.calendar .il .today {
	border-radius: 10px;
	height: 30px;
	background: var(--main-color);
}
.calendar #side-div1 {
	position: fixed;
	top: 1px;
	right: 1px;
	width: 850px;
	height: 1100px;
	border: 1px solid lightgray;
	border-radius: 10px;
	background: white;
	overflow-y: auto;
}
.calendar #account-list-div table {
	width: 95%;
}}