@charset "UTF-8";

.title-text {
	position: fixed;
	left: 23%;
	top: 80px;
	z-index: 2;
}
#div1 {
	position: sticky;
	top: 70px;
	background: white;
	z-index: 1;
	padding: 50px;
}

/* asset_stats.jsp */
.asset-stats {
	float: right;
	width: 80%;
	margin-top: 3%;
}
.asset-stats #div2 {
	margin-top: 2%;
	overflow-x: auto;
	overflow-y: auto;
	z-index: 0;
}
.asset-stats #top-div1, .asset-stats #top-div2 { /* 자산 통계 div */
	margin-top: 0;
}