@charset "UTF-8";
/* 기본 */
table {
	border-collapse: collapse;
}
table td {
	border: 1px solid lightgray;
	padding: 10px;
	font-size: 20px;
}
table td div {
	float: left;
	margin: 5px;
}

/* main.jsp */
.main {
	margin-top: 10%;
}
.main #login-btn {
	width: 500px;
	height: 60px;
	font-weight: bold;
	font-size: 20px;
}
.main img {
	animation: rotate 1s infinite;
}

/* login.jsp */
.login {
	margin-top: 10%;
}
.login #login-btn {
	width: 450px;
	height: 55px;
	font-weight: bold;
	font-size: 20px;
}
.login table {
	width: 450px;
}
.login table td {
	width: 450px;
}
.login table input {
	width: 350px;
	font-size: 18px;
}

/* sign_up.jsp */
.signup {
	margin-top: 5%;
}
.signup table {
	width: 500px;
}
.signup table td {
	width: 500px;
}
.signup table input {
	width: 400px;
	font-size: 18px;
}
#signup-btn {
	width: 500px;
	height: 55px;
	font-weight: bold;
	font-size: 20px;
}
.signup #email-div {
	margin: 0;
}
.signup #email-div input {
	width: 150px;
}
.signup #select-address-btn:hover {
	cursor: pointer;
	color: var(--main-color-hover);
}
.signup #select-address-div {
	position: absolute;
	background: white;
	display: none;
}
.signup #address-table {
	width: 150px;
	border-collapse: separate;
}
.signup #address-table td {
	border: 1px solid lightgray;
	border-radius: 10px;
}
.signup #address-table td:hover {
	background: var(--light-gray-color);
	cursor: pointer;
}
.signup #send-code-btn {
	width: 50px;
	background: var(--main-color);
	color: white;
	text-align: center;
}
.signup #send-code-btn:hover{
	cursor: pointer;
	background-color: var(--main-color-hover);
}

/* find_id_pw.jsp */
.find-id-pw {
	margin-top: 10%;
}
.find-id-pw table {
	border-collapse: separate;
	text-align: center;
}
.find-id-pw table th {
	width: 10%;
}
.find-id-pw table td {
	border: none;
	padding: 0;
}
.find-id-pw #find-id-div table {
	width: 800px;
}
.find-id-pw .input.email {
	width: 150px;
}
#find-id-btn, #find-pw-btn {
	width: 700px;
	height: 55px;
	font-size: 20px;
	font-weight: bold;
}
#select-find {
	margin-left: auto;
	margin-right: auto;
}
#select-find td {
	width: 300px;
	height: 30px;
	padding: 10px;
	border: 1px solid var(--main-color);
	border-radius: 10px;
	color: var(--main-color);
	font-weight: bold;
}
#select-find td:hover {
	background-color: var(--main-color);
	color: white;
	cursor: pointer;
}	
#select-find td.active {
	background-color: var(--main-color);
	color: white;
}
/* mypage.jsp */
.mypage {
	float: right;
	width: 80%;
	height: 1060px;
	background-image: url("https://cdn.pixabay.com/photo/2023/02/13/23/07/tree-7788512_1280.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.6;
	z-index: 0;
}
.mypage .title-text {
	margin: 7% 0 0 5%;
	color: black;
}
.mypage #div1 { /* 이번 달 수입/지출 */
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	margin-left: 2%;
}
.mypage #div1 div {
/*	border: 1px solid black;*/
	border-radius: 10px;
	padding: 10px;
	width: 300px;
	margin: 2%;
	text-align: center;
	background: white;
	box-shadow: 2px 2px 5px lightgray;
}
.mypage #left, .mypage #right {
	width: 47%;
	box-sizing: border-box;
	float: left;
	margin: 3% 0 0 3%;
}
.mypage #left #div1 div h2 {
	font-size: 25px;
	color: black;
}
.mypage #left #div1 div p {
	font-size: 23px;
	font-weight: bold;
}
.mypage #left #div2 {
	display: flex;
	flex-direction: row;
	margin-left: 2%;
}
.mypage #left #div2 #left-div1, .mypage #left #div2 #left-div2 { /* 수입/지출 비교 */
/*	border: 1px solid black;*/
	border-radius: 10px;
	margin: 0 2%;
	padding: 10px;
	background: white;
	box-shadow: 2px 2px 5px lightgray;
}
.mypage #left #div2 #left-div1 h2, .mypage #left #div2 #left-div2 h2 { /* 수입/지출 비교 */
	color: black;
	text-align: center;
	margin-bottom: 30px;
}
.mypage #left #div2 #left-div1 #top-div1, .mypage #left #div2 #left-div2 #top-div1 { /* 수입/지출 비교 */
	width: 300px;
	display: flex;
	flex-direction: row;
}
.mypage #left #div2 .graph-group {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.mypage #left #div2 .graph {
	width: 50px;
	height: 200px;
	border-radius: 10px;
}
.mypage #left #div2 .label {
	font-weight: bold;
	margin-top: 10px;
}
.mypage #left #div2 .back-paint {
	background: transparent;
	border-radius: 10px;
}
.mypage #left #div2 #left-div1 .paint {
	background: var(--blue-color);
	border-radius: 10px;
}
.mypage #left #div2 #left-div2 .paint {
	background: var(--red-color);
	border-radius: 10px;
}

/* myInfo.jsp */
.myinfo {
	margin-left: 10%;
	margin-top: 10%;
}
.myinfo table {
	margin-bottom: 20px;
}
.myinfo table td {
	width: 90%;
	padding: 10px;
	border: none;
}
.myinfo table th {
	width: 20%;
	padding: 10px;
}
#update-btn {
	width: 300px;
	font-weight: bold;
}
#drop-btn {
	width: 180px;
	font-weight: bold;
}
#change-pw {
	width: 375px;
}

/* check_pw.jsp */
.checkpw {
	margin-left: 10%;
	margin-top: 10%;
}
.checkpw table {
	width: 450px;
	margin-bottom: 20px;
}
.checkpw table td {
	width: 450px;
}
.checkpw table input {
	width: 350px;
	font-size: 18px;
}
.checkpw .input-inner:disabled {
	background: none;
}
.checkpw #check-pw-btn {
	width: 450px;
	height: 55px;
	font-weight: bold;
	font-size: 20px;
}
/* update_pw.jsp */
.updatepw {
	margin-left: 10%;
	margin-top: 10%;
}
.updatepw table {
	width: 450px;
	margin-bottom: 20px;
}
.updatepw table input {
	width: 350px;
	font-size: 18px;
}
.updatepw #update-pw-btn {
	width: 450px;
	height: 55px;
	font-weight: bold;
	font-size: 20px;
}