@charset "UTF-8";
/* 기본 */
table {
	border-collapse: collapse;
}
table td {
	border: 1px solid lightgray;
	padding: 10px;
	font-size: 20px;
}
table td div {
	float: left;
	margin: 5px;
}

/* main.jsp */
.main {
	margin-top: 10%;
}
.main #login-btn {
	width: 500px;
	height: 60px;
	font-weight: bold;
	font-size: 20px;
}

/* login.jsp */
.login {
	margin-top: 10%;
}
.login #login-btn {
	width: 450px;
	height: 55px;
	font-weight: bold;
	font-size: 20px;
}
.login table {
	width: 450px;
}
.login table td {
	width: 450px;
}
.login table input {
	width: 350px;
	font-size: 18px;
}

/* sign_up.jsp */
.signup {
	margin-top: 5%;
}
.signup table {
	width: 500px;
}
.signup table td {
	width: 500px;
}
.signup table input {
	width: 400px;
	font-size: 18px;
}
#signup-btn {
	width: 500px;
	height: 55px;
	font-weight: bold;
	font-size: 20px;
}
.signup #email-div {
	margin: 0;
}
.signup #email-div input {
	width: 150px;
}
.signup #select-address-btn:hover {
	cursor: pointer;
	color: var(--main-color-hover);
}
.signup #select-address-div {
	position: absolute;
	background: white;
	display: none;
}
.signup #address-table {
	width: 150px;
	border-collapse: separate;
}
.signup #address-table td {
	border: 1px solid lightgray;
	border-radius: 10px;
}
.signup #address-table td:hover {
	background: #F3F3F3;
	cursor: pointer;
}
.signup #send-code-btn {
	width: 50px;
	background: var(--main-color);
	color: white;
	text-align: center;
}
.signup #send-code-btn:hover{
	cursor: pointer;
	background-color: var(--main-color-hover);
}

/* find_id_pw.jsp */
.find-id-pw {
	margin-top: 10%;
}
.find-id-pw table {
	border-collapse: separate;
	text-align: center;
}
.find-id-pw table th {
	width: 10%;
}
.find-id-pw table td {
	border: none;
	padding: 0;
}
.find-id-pw #find-id-div table {
	width: 800px;
}
.find-id-pw .input.email {
	width: 150px;
}
#find-id-btn, #find-pw-btn {
	width: 700px;
	height: 55px;
	font-size: 20px;
	font-weight: bold;
}
#select-find {
	margin-left: auto;
	margin-right: auto;
}
#select-find td {
	width: 300px;
	height: 30px;
	padding: 10px;
	border: 1px solid var(--main-color);
	border-radius: 10px;
	color: var(--main-color);
	font-weight: bold;
}
#select-find td:hover {
	background-color: var(--main-color);
	color: white;
	cursor: pointer;
}	
#select-find td.active {
	background-color: var(--main-color);
	color: white;
}

/* myInfo.jsp */
.myinfo {
	margin-left: 23%;
	margin-top: 10%;
}
.myinfo .title-text {
	position: fixed;
	left: 23%;
	top: 80px;
}
.myinfo table td {
	width: 90%;
	padding: 10px;
	border: none;
}
.myinfo table th {
	width: 20%;
	padding: 10px;
}
#update-btn {
	width: 300px;
	font-weight: bold;
}
#drop-btn {
	width: 180px;
	font-weight: bold;
}
#change-pw {
	width: 375px;
}