@charset "UTF-8";
:root {
	--main-color: /*#f39c12; /* #88ae87;*/ #84a98c;
	--main-color-hover: /*#f38e12*/ #52796f;
	--charcoal-color: #463f3a;
	--red-color: #e76f51;
	--blue-color: #748cab;
	--green-color: #2C952C;
	--yellow-color: #fac05e;
	--orange-color: #f38e12;
	--light-blue-color: #a4b0cc;
	--light-red-color: #f28482;
	--light-green-color: #84a98c;
	--light-gray-color: #f3f3f3;
}
body {
	color: var(--charcoal-color);
}
/* header */
#header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	box-sizing: border-box;
	box-shadow: 2px 2px 5px lightgray;
	border-radius: 10px;
	background: var(--main-color);
	z-index: 2;
}
#logo {
	margin-left: 30px;
}
#logo h2 {
	width: 250px;
	cursor: pointer;
	color: white;
}
#logout {
	font-size: 20px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	position: absolute;
	right: 50px;
	top: 20px;
}
#logo h2:hover, #logout:hover {
	color: #2f3e46;
}
/* sidebar */
.sidebar.nav {
	position: fixed;
	top: 71px;
	box-sizing:border-box;
	width: 20%;
	height:990px;
	float: left;
	border-radius: 10px;
	background: var(--light-gray-color);
	padding: 20px;
	z-index: 2;
	box-shadow: 2px 2px 5px lightgray;
}

.sidebar .menu-title {
	font-size: 20px;
	padding: 10px 20px;
	cursor: default;
}
.sidebar .menu-group {
	list-style: none;
}
.sidebar .menu-group li {
	width: 200px;
	padding: 9px;
	font-size: 20px;
	margin: 10px;
}
.sidebar .menu-group li:hover {
	cursor: pointer;
	color: var(--main-color);
	font-weight: bold;
}
.sidebar .myinfo-div {
	text-align: center;
	cursor: pointer;
	padding: 10px;
}
.sidebar #myinfo-btn {
	font-size: 80px;
	color: var(--main-color);
}
.sidebar #myinfo-btn:hover {
	color: var(--main-color-hover);
}
.sidebar #login-id {
	font-size: 23px;
	font-weight: bold;
	margin-top: 0;
}

/* 날짜 */
.date-table {
	display: flex;
	justify-content: center;
}
.date-table td:nth-child(2) { /* < 날짜 > td */
	width: 500px;
	text-align: center;
	color: var(--charcoal-color);
}
.date-table .angle-icon {
	cursor: pointer;
	color: gray;
	font-size: 28px;
}
.angle-icon:hover {
	color: var(--main-color);
	font-size: 29px;
}
#date-div {
	font-weight: bold;
}
#date-div:hover {
	cursor: pointer;
	color: var(--main-color);
}
#date-div #month {
	font-size: 32px;
}
#date-div #year {
	font-size: 25px;
}
#select-date {
	position: absolute;
	background: white;
	display: none;
	padding: 0;
}
#select-year {
	font-size: 18px;
	font-weight: bold;
}
#select-date table {
	width: 500px;
	height: 250px;
	padding: 20px;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 10px;
}
#select-date table td {
	width: 25%;
	height: 50px;
}
#select-date table tr:not(tr:nth-child(1)) td {
	border-radius: 10px;
}
#select-date table tr:not(tr:nth-child(1)) td:hover {
	background: var(--main-color);
	color: white;
}
#last-year, #next-year {
	border-radius: 10px;
}
#last-year:hover, #next-year:hover {
	background: var(--main-color);
	color: white;
}

.no-data-div {
	font-weight: bold;
	font-size: 23px;
	color: lightgray;
	margin: 10% 0;
}

/* 수입/지출 내역 */
#account-list-div table {
	margin-left: auto;
	margin-right: auto;
	font-size: 17px;
	border-collapse: collapse;
	border-bottom: 1px solid lightgray;
	cursor: pointer;
}
#account-list-div table td{
	padding: 10px;
}
#account-list-div table tr:nth-child(1) { /* 날짜 */
	border-bottom: 1px solid lightgray;
	height: 60px;
	text-align: left;
}
#account-list-div table tr:not(tr:nth-child(1)) { /* 날짜 제외 tr */
	border-top: 1px solid var(--light-gray-color);
}
#account-list-div table tr:not(tr:nth-child(1)):hover {
	background: var(--light-gray-color);
}
.td-category {
	width: 35%;
}
.td-content, .calendar .td-asset, .calendar .td-income, .calendar .td-spend {
	width: 20%;
}
.td-date {
	font-size: 19px;
	font-weight: bold;
	color: #464646;
}
#account-list-div .key-div {
	width: 120px;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 13px;
	cursor: pointer;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	box-shadow: 2px 2px 5px lightgray;
}
#account-list-div .key-div.income {
	background: var(--light-blue-color);
	color: white;
}
#account-list-div .key-div.spend {
	background: var(--light-red-color);
	color: white;
}
#account-list-div .key-div.transfer {
	background: var(--light-gray-color);
	color: gray;
}
.td-smallcate.income {
	color: var(--blue-color);
}
.td-smallcate.spend {
	color: var(--red-color);
}
.td-smallcate {
	padding: 10px;
	font-weight: bold;
}
.td-asset {
	text-align: left;
}
.part-income { /* 부분합 */
	float: right;
	width: 150px;
	color: var(--blue-color);
	text-align: right;
}
.part-spend {
	float: right;
	width: 150px;
	color: var(--red-color);
	text-align: right;
}

/* 통계 */
.stats #top-div1, .stats #top-div2, .stats #top-div3, .stats #top-div4 { /* 통계 div */
	width: 3200px;
	float: left;
	overflow-x: scroll;
	height: 800px;
	margin-top: 3%;
	margin-left: 7%;
}
.stats #top-div1 .stats-div, .stats #inner-div1, .stats #inner-div2 {
	float: left;
	width: 45%;
	height: 90%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid lightgray;
	border-radius: 20px;
	box-sizing: border-box;
	box-shadow: 0 0 15px lightgray;
}
.stats #top-div1 #in-stats-div, .stats #top-div2 #inner-div2 {
	margin-left: 5%;
}
.stats #top-div3 #inner-div2, .stats #top-div4 #inner-div2 {
	margin-left: 7%;
}
.stats .scroll-x { /* 통계 div 넘기기 */
	position: sticky;
	float: left;
	top: 38%;
	padding-left: 15px;
	
}
.stats .stats-div h2 { 
	margin-top: 3%;
}
.stats .piechart { /* 차트 */
	float: left;
	width: 50%;
	height: 500px;
	margin-left: 3%;
	z-index: 0;
}
.stats .stats-list { /* 차트 합계 list */
	float: left;
	width: 45%;
	height: 450px;
	overflow-y: auto;
}
.stats .stats-list table {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}
.stats .stats-list td:nth-child(2) {
	text-align: right;
	padding-right: 50px;
}
.stats .stats-list table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}
.stats .stats-list table td {
	width: 30%;
	padding: 10px;
	height: 35px;
}
.stats .stats-list table tr {
	border: 1px solid lightgray;
	border-radius: 10px;
	border-left: 0;
	border-right: 0;
}
.stats .stats-list table tr:hover {
	background: var(--light-gray-color);
	border-color: lightgray;
	cursor: pointer;
}
.stats #div2 .angle-icon { /* 다른 div로 이동 버튼 */
	cursor: pointer;
	font-size: 50px;
	color: gray;
}
.stats #div2 .angle-icon i:hover {
	color: var(--main-color);
}
.stats #top-div2 #inner-div1 { /* 상세 */
	padding: 10px;
}
.stats #account-list-div { /* 통계 상세 수입/지출 내역 */
	height: 550px;
	overflow-y: auto;
	margin-top: 10px;
}
.stats #account-list-div table {
	width: 90%;
}
.stats .total-div {
	width: 100%;
	font-size: 24px;
}
.stats .total-div table {
	margin-left: auto;
	margin-right: auto;
}
.stats .total-div table td {
	padding-right: 30px;
}
.stats .total-div p {
	font-weight: bold;
}
.stats .total-div i {
	font-style: normal;
}
.stats #scroll-top {  /* 젤 위로 이동 */
	position: fixed;
	right: 1%;
	bottom: 2%;
	font-size: 40px;
	color: gray;	
}
.stats #scroll-top i:hover { 
	color: var(--main-color);
	cursor: pointer;
}

/* 목표 게이지 */
.gage-chart { /* 게이지 차트 */
	position: relative;
	display: inline-block;
	width: 180px;
	height: 180px;
	border-radius: 50%;
}
.gage-chart span { /* 게이지 차트 내부 퍼센트 */
	display: block;
	position: absolute;
	background: white;
	top: 50px;
	left: 50px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	text-align: center;
	line-height: 80px;
	font-size: 25px;
	transform: tanslate(-50%, -50%);
}
.gage-div {
	float: left;
	margin: 1% 3%;
	cursor: pointer;
}
.gage-div p {
	font-size: 20px;
	font-weight: bold;
}
.gage-div .gage-total { /* 목표 금액 및 사용 금액 */
	font-size: 20px;
	font-weight: bold;
}
.gage-div .gage-total input {
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	border: none;
	width: 120px;
	padding: 5px;
}
.gage-div .gage-total input:first-of-type {
	text-align: right;
	outline: none;
}
.gage-div .gage-total input:disabled {
	background: none;
}
/*-------------------------------------------------------------*/
/* text */
.title-text {
	font-size: 30px;
	color: var(--charcoal-color);
}

.h-normal {
	font-weight: normal;
	font-style: normal;
	margin: 2%;
}
.h-bold {
	font-weight: bold;
}
.fs50 {
	font-size: 50px;
}
.fs40 {
	font-size: 40px;
}
.fs35 {
	font-size: 35px;
}
.fs28 {
	font-size: 28px;
}
.fs23 {
	font-size: 23px;
}
.fs20 {
	font-size: 20px;
}
.fs18 {
	font-size: 18px;
}
.main-color {
	color: var(--main-color);
}
.red {
	color: var(--red-color);
}
.blue {
	color: var(--blue-color);
}
.lightred {
	color: var(--red-color);
}
.lightblue {
	color: var(--blue-color);
}
.lightgray {
	color: var(--light-gray-color);
}
.gray {
	color: gray;
}
.green {
	color: var(--green-color);
}
.orange {
	color: var(--orange-color);
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}

/* button */
.btn {
	border: 0;
	border-radius: 10px;
	width: 150px;
	height: 45px;
	line-height: 20px;
	font-size: 16px;
	cursor: pointer;
}
.btn.right {
	float: right;
}
.btn:hover {
	background-color: lightgray;
}
.main-color-btn {
	background-color: var(--main-color);
	color: white;
}
.main-color-btn:hover {
	background-color: var(--main-color-hover);
}
.main-outline-btn {
	border: 1px solid var(--main-color);
	background-color: white;
	color: var(--main-color);
}
.main-outline-btn:hover {
	background-color: var(--main-color);
	color: white;
}
.btn:disabled {
	background: lightgray;
	color: gray;
	cursor: default;
}
.check-btn {
	font-size: 20px;
	color: var(--light-green-color);
}
.check-btn:hover {
	background: var(--light-green-color);
	color: white;
}
.cross-btn {
	font-size: 18px;
	color: var(--red-color);
}
.cross-btn:hover {
	background: var(--red-color);
	color: white;
}

/* div */
.container { /* center */
	width: 100%;
	text-align: center;
}
.col-5 {
	width: 50%;
	float: left;
	box-sizing: border-box;
}
.is-border {
	border: 1px solid lightgray;
	border-radius: 10px;
}
.is-shadow {
	box-shadow: 2px 2px 5px lightgray;
}
.is-scroll {
	overflow-y: auto;
}
.is-scroll.h700 {
	height: 700px;
}
::-webkit-scrollbar { /* 스크롤바는 없애지만 기능은 유지 */
  display: none;
}
.hide {
	display: none;	
}

/* table */
.center-table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.select-table {
	width: 100%;
}
.select-table td {
	height : 30px;
	font-size : 18px;
	padding: 10px;
	border: 1px solid lightgray;
	border-radius: 10px;
}
.select-table td:hover {
	background: var(--light-gray-color);
	cursor: pointer;
}
/*
.list-table {
	border-collapse: collapse;
	width: 600px;
	font-size: 18px;
}
.list-table td {
	width: 30%;
	padding: 10px;
	height: 35px;
}
.list-table tr {
	border: 1px solid lightgray;
	border-radius: 10px;
	border-left: 0;
	border-right: 0;
}
.list-table tr:hover {
	background: #F3F3F3;
	border-color: lightgray;
	cursor: pointer;
}
*/
.td-border td {
	border: 1px solid lightgray;
	border-radius: 10px;
}
.td-hover td:hover {
	background: var(--light-gray-color);
	border-color: lightgray;
	cursor: pointer;
}
.tr-hover tr:hover {
	background: var(--light-gray-color);
	border-color: lightgray;
	cursor: pointer;
}
.table {
	margin-bottom: 15px;
	font-size: 18px;
}
.table td {
	width: 90%;
	height: 100%;
	padding: 10px;
}
.table th {
	width: 20%;
	font-weight: normal;
	text-align: left;
	padding: 10px;
}

.input {
	width: 350px;
	padding: 12px 10px;
    font-size: 16px;
	border: 1px solid lightgray;
	border-radius: 10px;
}
.input.small {
	width: 150px;
	margin-bottom: 10px;
}
.input-inner {
	border:none;
}
.input-inner:focus {
	outline: none;
}
.select input[type="radio"] {
	display: none;
}
.select input[type="radio"]+label {
	width: 158px;
	padding: 10px;
	display: inline-block;
	border: 1px solid lightgray;
	border-radius: 7px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}
.select input[type="radio"]:checked+label{
	border-color: var(--main-color);
	color: var(main-color);
	box-shadow: 2px 2px 5px lightgray;
}

/* Modal */
.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	z-index: 2;
}
.modal-title {
	text-align: center;
}
.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	/*height: 800px;*/
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	transform: translateX(-50%) translateY(-50%);
}
.modal-body {
	/*height: 580px;*/
	overflow-y: auto;
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	overflow-y: auto;
}
.x-btn {
	position: absolute;
	right: 15px;
	top: 15px;
}