@charset "UTF-8";
.menu-group {
	list-style: none;
}
.menu {
	padding: 12px 10px 12px 20px;
	margin-top: 40px;
	width: 80%;
	height: 30px;
	line-height: 28px;
	font-size: 18px;
	border-radius: 10px;
}
.menu:hover {
	background: #2C952C;
	color: white;
}
.menu.active {
	background: #2C952C;
	color: white;
}
.sidebar {
	width: 15%;
	height: 1000px;
	float: left;
	border-right: 1px solid lightgray;
}
.content {
	width: 80%;
	float: left;
	margin-left: 2%;
}
.h2 {
	font-size: 35px;
	font-weight: normal;
	margin: 20px;
}
.h3 {
	font-size: 28px;
	font-weight: normal;
	margin: 20px;
}
.h4 {
	font-size: 23px;
	font-weight: normal;
	margin: 20px;
}
.card {
	width: 23%;
	height: 450px;
	float: left;
	margin: 2%;
	border: 1px solid lightgray;
	border-radius: 10px;
	text-align: center;
	font-size: 25px;
	color: gray;
}
.card i {
	font-size: 100px;
}
.card:hover {
	background: #2C952C;
	color: white;
}
.card-body{
	padding-top: 100px;
}
.container {
	margin: 30px;
}
.table {
	border-collapse: collapse;
	margin-bottom: 20px;
}
.table td {
	width: 200px;
	height: 60px;
	font-size: 18px;
	padding: 10px;
	border: 1px solid lightgray;
	border-left: 0;
	border-right: 0;
}
.input {
	width: 350px;
	border-radius: 5px;
	border: 1px solid lightgray;
	padding: 12px 10px;
    font-size: 16px;
}
.input.birth {
	width: 158px;
}
.input.tel {
	width: 142px;
}
.input.email {
	width: 150px;
}
.select input[type="radio"] {
	display: none;
}
.select input[type="radio"]+label {
	width: 158px;
	padding: 10px;
	display: inline-block;
	border: 1px solid lightgray;
	border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}
.select input[type="radio"]:checked+label{
	border-color: #2C952C;
	color: #2C952C;
}
.btn {
	width: 150px;
	height: 42px;
	padding: 10px;
	border: 0;
	border-radius: 10px;
	line-height: 20px;
	font-size: 16px;
}
.btn:hover {
	cursor: pointer;
}
.btn.green {
	background: #2C952C;
	color: white;
}
.btn.outline-green {
	background: white;
	color: #2C952C;
	border: 1px solid #2C952C;
}
.btn.outline-green:hover {
	background: #2C952C;
	color: white;
}
.checkDiv {
	font-size: 14px;
	padding: 8px;
	color: gray;
}