@charset "UTF-8";
.menu-group {
	list-style: none;
}
.menu {
	padding: 12px 10px 12px 20px;
	margin-top: 40px;
	width: 75%;
	height: 30px;
	line-height: 28px;
	font-size: 18px;
	border-radius: 10px;
}
.menu:hover {
	background: #2C952C;
	color: white;
}
.menu.active {
	background: #2C952C;
	color: white;
}
/* ---------------------------------------------------------------- */
.col-2 {
	width: 18%;
	height: 1050px;
	float: left;
}
.col-8 {
	width: 80%;
	float: left;
}
.col-3 {
	width: 30%;
	height: 1050px;
	float: left;
}
.col-7 {
	width: 68%;
	float: left;
}
.is-border {
	border: 1px solid lightgray;
	border-radius: 10px;
}
.is-shadow {
	box-shadow: 2px 2px 5px lightgray;
}
.is-gradation {
	background: linear-gradient(to bottom, white 70%, #6F4F28);
}
.is-center {
	display: flex;
	justify-content: center;
}
.side-logo {
	width: 80%;
	margin-left: 4%;
	margin-top: 30%;
}
/* ---------------------------------------------------------------- */
.h-normal {
	font-weight: normal;
	margin: 2%;
}
.fs-35 {
	font-size: 35px;
}
.fs-28 {
	font-size: 28px;
}
.fs-23 {
	font-size: 23px;
}
.fs-20 {
	font-size: 20px;
}
.main-text {
	color:#2C952C;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}
.msg {
	font-size: 16px;
	margin: 1% 0;
}
.warning {
	color : #E34234;
}
.info {
	color: gray;
}
.safe {
	color: green;
}
/* ---------------------------------------------------------------- */
.container {
	width: 100%;
	padding: 2%;
}
.margin-small {
	margin: 5% 10%;
}
.margin-medium {
	margin: 10%;
}
.margin-big {
	margin: 18% 15%;
}
.width-50 {
	width: 50%;
}
/* ---------------------------------------------------------------- */
.table {
	margin-bottom: 15px;
	font-size: 18px;
}
.table td {
	width: 90%;
	height: 100%;
	padding: 10px;
}
.table th {
	width: 20%;
	font-weight: normal;
	text-align: left;
	padding: 10px;
}
.input {
	width: 350px;
	padding: 12px 10px;
    font-size: 16px;
	border: 1px solid lightgray;
	border-radius: 7px;
}
.input.small {
	width: 150px;
}
.select input[type="radio"] {
	display: none;
}
.select input[type="radio"]+label {
	width: 158px;
	padding: 10px;
	display: inline-block;
	border: 1px solid lightgray;
	border-radius: 7px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}
.select input[type="radio"]:checked+label{
	border-color: #2C952C;
	color: #2C952C;
}
/* ---------------------------------------------------------------- */
.btn {
	width: 150px;
	height: 42px;
	padding: 10px;
	border: 0;
	border-radius: 10px;
	line-height: 20px;
	font-size: 16px;
	margin: 1% 0;s
}
.btn:hover {
	cursor: pointer;
}
.btn.menu-btn {
	width: 300px;
	height: 60px;
	margin: 2%;
}
.btn.medium {
	width: 280px;
	height: 48px;
}
.btn.long {
	width: 500px;
	height: 50px;
}
.btn.green {
	background: #2C952C;
	color: white;
}
.btn.outline-green {
	background: white;
	color: #2C952C;
	border: 1px solid #2C952C;
}
.btn.outline-green:hover {
	background: #2C952C;
	color: white;
}
.btn.outline-gray {
	background: white;
	color: gray;
	border: 1px solid gray;
}
.btn.outline-gray:hover {
	border: 1px solid lightgray;
	background: lightgray;
	color: white;
}
.btn:disabled {
	background: lightgray;
	color: gray;
	cursor: default;
}
.btn.right {
	float: right;
}
/* ---------------------------------------------------------------- */
.main-menu {
	margin-left: 20%;
	margin-top: 45%;
}
#watering {
	position: absolute;
	top: 25%;
	right: 15%;
}
#watering:active {
	transform: rotate(-45deg);
}
#water {
	 position: absolute;
	 top: 38%;
	 right: 25%;
	 display: none;
}
#money {
	position: absolute;
	top: 45%;
	right: 30%;
}
/* ---------------------------------------------------------------- */
/* Modal css */
.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}
.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 800px;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	transform: translateX(-50%) translateY(-50%);
}
.modal-body {
	height: 580px;
	overflow-y: auto;
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	overflow-y: auto;
}
/* Modal 넓은 크기 */
.modal-content.wide { 
	width: 600px;
}
/* Modal 중간 크기 */
.modal-content.medium { 
	height: 600px;
}
.modal-body.medium {
	height: 430px;
}
/* Modal 작은 크기 */
.modal-content.small { 
	height: 470px;
}
.modal-body.small {
	height: 300px;
}
/* ---------------------------------------------------------------- */
/* asset.jsp */
.group-list {
	width: 90%;
	padding: 10px;
}
.group-list:hover {
	background: #F3F3F3;
	border-color: lightgray;
	cursor: pointer;
}
.del-icon {
	border-radius: 10px;
	padding: 5px 5px 2px 5px;
	font-size: 25px;
	color: #E34234;
}
.del-icon:hover {
	cursor: pointer;
	color: #D1180B;
}

.list-table {
	border-collapse: collapse;
}
.list-table td {
	width: 30%;
	padding: 10px;
}
.list-table tr {
	border: 1px solid lightgray;
	border-radius: 10px;
}
.list-table tr:hover {
	background: #F3F3F3;
	border-color: lightgray;
	cursor: pointer;
}
.blue {
	color : #0C70F2;
}
.red {
	color : #E34234;
}