<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- SQL문 정의 시 VO 간단히 표현 -->
   <typeAliases>
      <typeAlias type="com.modifyk.accountbook.member.MemberVO" alias="memberVO"></typeAlias>
      <typeAlias type="com.modifyk.accountbook.asset.AssetGroupVO" alias="assetGroupVO"></typeAlias>
      <typeAlias type="com.modifyk.accountbook.asset.AssetVO" alias="assetVO"></typeAlias>
      <typeAlias type="com.modifyk.accountbook.account.CategoryVO" alias="categoryVO"></typeAlias>
      <typeAlias type="com.modifyk.accountbook.account.AccountVO" alias="accountVO"></typeAlias>
   </typeAliases>
   <mappers>
   <!-- SQL문 정의하는 파일들의 목록 -->
      <mapper resource="mapper/memberMapper.xml" />
      <mapper resource="mapper/assetMapper.xml" />
      <mapper resource="mapper/assetgroupMapper.xml" />
      <mapper resource="mapper/categoryMapper.xml" />
      <mapper resource="mapper/accountMapper.xml" />
   </mappers>
</configuration>
