@charset "UTF-8";
/* aim.jsp */
.aim {
	float: right;
	width: 80%;
	margin-top: 3%;
}
.aim .title-text {
	position: fixed;
	left: 23%;
	top: 80px;
	z-index: 2;
}
.aim #open-add-aim { /* 목표 추가 */
	position: sticky;
	float: right;
	right: 40px;
	top: 100px;
	border: 1px solid var(--main-color);
	color: var(--main-color);
	background: white;
	width: 75px;
	height: 70px;
	border-radius: 50px;
	font-size: 40px;
	cursor: pointer;
	box-shadow: 2px 2px 5px lightgray;
	z-index: 2;
}
.aim #open-add-aim:hover {
	background: var(--main-color);
	color: white;
}
.aim #aim-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	overflow-y: auto;
	margin: 1% 7% 3% 7%;
	padding: 30px;
	border: 1px solid lightgray;
	border-radius: 10px;
	box-shadow: 0 0 15px lightgray;
}
.aim #total-aim {
	font-size: 30px;
	font-weight: bold;
	position: sticky;
	top: 70px;
	background: white;
	padding: 45px;
	z-index: 1;
}
.aim #total-gage-div { /* 전체 목표 게이지 */
	margin: 0 auto;
	border: 1px solid lightgray;
	border-radius: 10px;
	width: 500px;
	height: 20px;
}
.aim #total-gage-div .orange {
	background: var(--orange-color);
}
.aim #total-gage-div .red {
	background: var(--red-color);
}
.aim #total-gage {
	background: green;
	border-radius: 10px;
	height: 20px;
	font-size: 14px;
	text-align: right;
	color: white;
}
.aim #total-aim i { /* 목표 대비 지출량 */
	font-style: normal;
	font-weight: normal;
	margin-left: 1%;
}
.aim #total-aim #aim {
	cursor: pointer;
	font-weight: bold;
	color: var(--main-color);
}
.aim #total-aim #aim:hover {
	color: var(--main-color-hover);
}
.aim #total-aim p { /* 남은 금액*/
	font-size: 21px;
	font-weight: normal;
	margin-top: 3%;
	margin-bottom: 1%;
}
.aim .modal-content { /* 목표 추가 모달 */
	height: 400px;
}
.aim .modal-body {
	height: 240px;
}
.aim .modal-body table {
	margin-bottom: 20px;
	padding: 0 10px;
}
.aim .modal-body table th {
	width: 150px;
}
.aim .modal-body table td {
	padding: 10px;
}
.aim .modal-body .input {
	width: 330px;
}
.aim .modal-body #add-aim-btn {
	width: 90%;
}
.aim .modal-body #update-aim-btn {
	width: 60%;
}
.aim .modal-body #delete-aim-btn {
	width: 30%;
}
.aim #update-aimtotal-modal .modal-content {
	height: 450px;
}
.aim #add-aimtotal-modal .modal-body, .aim #update-aimtotal-modal .modal-body { /* 총 목표 설정 모달 */
	height: 350px;
}
.aim #add-aimtotal-modal h2, .aim #update-aimtotal-modal h2 {
	margin-top: 40px;
}
.aim #add-aimtotal-modal p, .aim #update-aimtotal-modal p {
	font-size: 18px;
}
.aim #add-aimtotal-modal td, .aim #update-aimtotal-modal td {
	font-size: 23px;
	font-weight: bold;
}
.aim #add-aimtotal-modal .input, .aim #update-aimtotal-modal .input {
	width: 330px;
	height: 30px;
	font-size: 20px;
	text-align: center;
	margin-left: 10px;
}
.aim #add-aimtotal-btn, .aim #update-aimtotal-btn {
	width: 80%;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
}
.aim button #close-update-aimtotal {
	margin: 2%;
}

.select-div { /* 대분류 목록 */
	width: 500px;
	height: 220px;
	position:absolute;
	display: none;
	background: white;
	overflow-y: auto;
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 12px 10px;
    font-size: 16px;
}
.select-div .select-table td {
	width: 30%;
}